
*{
    margin: 0;
    padding:0;
}
body{
    width: 100%;
    min-height: 100vh; /*altura total de pantalla*/
    background-color:#7FC8A9;
}

.bodyFlex{
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    background-image: linear-gradient(to right, #7fc8a9, #B8DFD8);  
}
.cabezaFlex{
    display: flex;
    justify-content:center;
    flex-wrap: nowrap;
}

.header{
    height: 30vh;
    border-bottom: 3px groove #393E46;
    background-image: linear-gradient( #548ca871, #4760726c);
}


.titulo{
    margin-top: 30px;
    margin-right: 10px;
    order: 1;
    background-color: #2D4059;
    color: #c7cece;
    font-family: Berkshire Swash;
    font-size: 25px;
    border-radius: 50px;
    border: 2px solid #F07B3F;
    box-shadow: 2px 2px 4px #200303;
    text-shadow: 2px 2px 4px #200303; 
}
.icono{
    margin: 30px;
    order: 0;
    border-radius: 15px; 
    max-height: 45px; 
    box-shadow: 2px 2px 4px #200303;
}
/*IMAGEN BACKGROUND INDEX*/
.imagenPrincipal{ 
    background-image: url(../Imagenes/hornero4.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
}
/*FIN IMAGEN BACKGROUND INDEX*/


/*MENU DE NAVEGACION CON LISTAS Y FLEXBOX*/
ul{
    list-style-type:none ;
    display: flex;
    justify-content: space-evenly; 
    margin: 30px 0;  
}
a{
    text-decoration: none;
    color: #c7cece;
    padding: 5px;
    background-color: #2D4059;
    border-top: 2px groove #110202;
    border-bottom: 2px groove #110202;
    border-radius: 5px;
    font-family: Alice;
    font-size: 16px;
    letter-spacing: 3px;      
}

a:hover{
    color:aliceblue;
    border-top: 3px groove #e73232;
    border-bottom: 3px groove #e73232;
    box-shadow: 3px 3px 5px #200303;
}

/*FIN MENU DE NAVEGACION CON LISTAS Y FLEXBOX*/


/*PIE DE PAGINA */
footer{
    display: flex;
    justify-content:center;   
    min-height: 3vh;
}
    .footer__pie{
        
        margin-bottom: 20px;
        margin: 20px;
    }
    .footer__pie--text{
        color: #110202;
        font-size: 20PX;  
        font-family: Alice; 
        text-shadow: 2px 2px 3px #fff;     
    }
   
    .footer__pie--icono{
        max-width: 30px;
        max-height: 30px;
        box-shadow: 2px 2px 4px #200303;
        border-radius: 6px;      
    }
/*FIN PIE DE PAGINA */


/*GALERIA DE IMAGENES*/
.galeriaGrilla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr 1fr;
    grid-template-areas: "imagen1  imagen2 "
                         "imagen3  imagen4"
                         "imagen5  imagen6";
    margin: 5%;
    row-gap: 10px;
    align-items: center;
}

    .imagen1{
        grid-area: imagen1;    
    }
    .imagen2{
        grid-area: imagen2;
    }
    .imagen3{
        grid-area: imagen3;
    }
    .imagen4{
        grid-area: imagen4;
    }
    .imagen5{
        grid-area: imagen5;
    }
    .imagen6{
        grid-area: imagen6;
    }
    
 .imagenOtras{
        width: 70%;
        height: auto;
        padding: 6px 1px 30px 1px;
        background-color: #fff;       
} 
.imagenOtras:hover{
    box-shadow: 4px 4px 8px #2d4059;
}   

/*- FIN OTRAS IMAGENES*/


/*NOSOTROS PAGINA*/
.mainGrid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr 1fr; 
    grid-template-areas: "parrafo foto"
                         "parrafo foto";
     margin: 10px 50px;
}
    .parrafo{
        font-family: Alice;
        font-size: 20px;
        font-weight: lighter;
        background-color: #2D4059;
        color: #EA5455;
        text-align: center;
        padding: 30px;
        height: auto;
        border-radius: 10px;
        grid-area: parrafo;
        transition:all 4s;
    }
    .parrafo:hover{
        transform: scale(1.1,1.1);
        box-shadow: 4px 4px 7px #2D4059;
    }
    .imagenNosotros{
        grid-area: foto;
        width: 40%;
        min-width:300px;
        height: auto;
        margin-left: 45px;
        border-radius: 0px 10px 0px 20px;
        padding: 2px;
        background-color: #fff;
        transition: all 4s;

    }
    .imagenNosotros:hover{
        transform: scale(1.1,1.1);
        box-shadow: 4px 4px 7px #2D4059;
        width: 50%;  
    }
/*FIN DE PAGINA NOSOTROS*/


/* CUADRO DE PAGINA CONTACTO*/
.bodyContacto{
    background-image: url(../Imagenes/taller3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cuadradoContacto{
    width: 50%;
    height: 90%; 
    color: #c7cece;
    text-align: center;
    font-weight: lighter;
    font-size: medium;
    font-family: Alice;
    left: 50vw;
    margin: 30px;
    padding: 10px;
    background: linear-gradient(to left, #7fc8a9, #2d4059);  
    border-radius: 5px; 
    box-shadow: 5px 5px 9px #393E46; 
    border-color: #110202;
}
.cuadradoContacto:hover{
    box-shadow: 8px 8px 12px #393E46;   
}
input{
    background-color: #9fb8ae;
    border: 3px solid #2D4059;   
}
input:hover{
   background: #fff;
}

textarea{
    background-color: #9fb8ae;
    border-radius: 10px;
    border: 3px solid #2D4059;
}
textarea:hover{
    background: #fff;
 }

.form{
    display: flex; 
    justify-content: space-around; 
}

.sideForm{
    flex-direction: column;
    align-content: space-between;    
}
/*bem*/
.contacto{
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #200303; 
}

.contacto__texto{
    font-size: 30px;
    font-family: alice;
    margin: 10px;
    color: #c7cece;
    animation-name: MostrarTexto;
    animation-duration: 6s;
}
.contacto__texto--italica{
    font-size: 20px;
    font-style: italic;
    color: #200303;
}
.contacto__texto--italica:hover{
    color:#c7cece;
}

/*ANIMACION EN PAGINA CONTACTO*/
@keyframes MostrarTexto {
    from {
    opacity: 0;
    }
    to{
    opacity: 1;
    }
}
/*fin de animacion*/


/*pagina PRODUCTOS CON GRID*/
.grilla{
    max-width: 90vw;
    max-height: auto;
    display: grid;
    margin: auto;
    margin-top: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas:"foto1  texto1 foto4  texto4"
                        "boton1 boton2 boton4 boton3"
                        "texto2 foto2  texto3 foto3 ";          
    text-align: center;
    justify-content: center;
    background-color: transparent;
    align-items: center; 
    color: #200303; 
    font-size: 25px;
}
    .grilla__texto{
        align-self: center;
        text-align: justify;
    }
    .grilla__texto:hover{
        text-shadow:3px 3px 5px #fff;
    }

    .caja1{  
        justify-content: center;
        grid-area: foto1;   
    }
    .boton1{
        grid-area: boton1;
        align-self: flex-start;
    }
    .grilla__texto--1{
        grid-area: texto1;
    }
    .caja2{
        grid-area: foto2;
    }
    .boton2{
        grid-area: boton2;
        align-self: flex-end;
    }
    .grilla__texto--2{
        grid-area: texto2;
    }
    .caja3{
        grid-area: foto3;
    }
    .boton3{
        grid-area: boton3;
        align-self: flex-end;
    }
    .grilla__texto--3{
        grid-area: texto3;
    }
    .caja4{
        grid-area: foto4;
    }
    .boton4{
        grid-area: boton4;
        align-self: flex-start;   
    }
    .grilla__texto--4{
        grid-area: texto4;   
    }

.boton{
    padding: 6px;
    font-size: 15px;
    font-family: Alice;
    letter-spacing: 3px;
    border-radius: 5px;
    background-color: #2D4059;
    color: #fff;
    border-top: 4px groove #393E46;
    border-bottom: 3px groove #393E46;
    margin: 5px;
}
    .boton:hover{
        border-top: 4px groove #80ED99;
        border-bottom: 4px groove #80ED99;
        background-color: #2D4059;
    }
 
.producto{
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Alice;
    text-transform: uppercase;
}

/*FIN DE PRODUCTOS CON GRID*/

/*Responsive*/

@media screen and (max-width: 375px) {
   
    .cabezaFlex{
        height: 19vh;
        margin-top: 1vh;
        flex-wrap: wrap;
    }
 
    .titulo{
        text-align: center; 
        font-size: 17px;
        order: 0;
        margin: 1%;
    }

    /*MENU DE NAVEGACION CON LISTAS Y FLEXBOX*/
    ul{
        align-content: center;
    }
    a{
        padding: 4px;
        border-radius: 5px;
        font-size: 12px;
        letter-spacing: 2px;      
    }
    .icono{
        order: 1;
        border-radius: 6px; 
        max-height: 35px; 
        margin: 1px;
    }
    /*productos*/
    .grilla{
        width: 100%;
        margin-top: 20px;
        grid-template-columns: 55% 45%;
        grid-template-rows: 3fr 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
        grid-template-areas:"foto1 texto1"
                            "boton1 boton1"
                            "foto2 texto2"
                            "boton2 boton2"
                            "foto3 texto3"
                            "boton3 boton3"
                            "foto4 texto4"
                            "boton4 boton4";          
        align-items: flex-start; 
        gap: 10px;
        font-size: 17px;
    }
    .grilla__texto{
        margin-right: 10px;
    }
     
    .boton{
        padding: 4px;
        margin: 5px;
    }
    .boton2{
        align-self: flex-start;
    }
    .boton3{
        align-self: flex-start;
    }
   
    /*GALERIA DE IMAGENES*/
    .galeriaGrilla{
        grid-template-columns: 100%;
        grid-template-rows:    repeat(6, 1fr);
        grid-template-areas: "imagen1"
                            "imagen2"
                            "imagen3"
                            "imagen4"
                            "imagen5"
                            "imagen6";
       
    }
    .imagenOtras{
         margin: auto;
         width: 80%;      
    } 
    /*NOSOTROS PAGINA*/
    .mainGrid{
        grid-template-columns: 100%;
        grid-template-rows:    1fr 1fr; 
        grid-template-areas: "parrafo "
                            "foto";
        margin:auto;
    }
    .parrafo{
        font-size: 16px;
        padding: 15px;
        margin-top: 10vh;
    }
    .parrafo:hover{
        transform: scale(1,1.1);
    }
    .imagenNosotros{
        min-width:75vw;
    }

    /* CUADRO DE PAGINA CONTACTO*/
    .form{
        flex-direction: column;
    }
    .contacto__texto{
        font-size: 25px;
    }
    .contacto__texto--italica{
        font-size: 18px;
    }

}
