/*PIE DE PAGINA */
footer{
    display: flex;
    justify-content:center;   
    min-height: 3vh;
}
    .footer__pie{  
        margin-bottom: 20px;
        margin: 20px;
    }
    .footer__pie--text{  
        font-size: 18PX;  
        font-family: $estilo-fuente-general;
        text-shadow: 2px 2px 3px $sombra;     
    }
   
    .footer__pie--icono{
        max-width: 25px;
        max-height: 25px;
        box-shadow: 2px 2px 4px $sombra;
        border-radius: 6px;      
    }
    footer{
        background-color: $color-footer-bg;
        h5{
            a{
                text-decoration: none;
                color: $color-fondo;
                text-shadow: 2px 2px 3px $sombra; 

            }
        }
    }
    footer{
        h5{
            a:hover{
                color: $color-uno ;
            }
        }
    }
/*FIN PIE DE PAGINA */