/*NOSOTROS PAGINA*/
.mainNos{
    
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  
    }
    .imagenFondoNos{
        background-image: url(../Imagenes/fotoArticulos.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
 

    @mixin tarjeta($ancho, $alto, $bgColor,$display) {
        display: $display;
        height: $alto;
        width: $ancho;
        background-color:$bgColor ;
        margin: 15px;  
        padding: 20px;
        border-radius: 20px;   
        
    }

    .tarjeta{
        @include tarjeta(70%,auto, $color-nos1,flex); 
             
    }
    .tarjeta2{
        @include tarjeta(70%,auto,$color-nos2,flex);
       
    }
    .tarjeta3{
        @include tarjeta(70%,auto,$color-nos3,flex);
   
    }
    .imagenNos{
            width: 40%;
            height: auto;
            padding: 1px;
            background-color:$color-claro;   
            border-radius: 8px; 
            margin: 10px;   
    } 
 
    
/*FIN DE PAGINA NOSOTROS*/
/*Responsive*/

@media only screen and (max-width: 700px) {
    .tarjeta{
        @include tarjeta(95%,auto, $color-nos1,flex); 
             
    }
    .tarjeta2{
        @include tarjeta(95%,auto,$color-nos2,flex);
       
    }
    .tarjeta3{
        @include tarjeta(95%,auto,$color-nos3,flex);
   
    }
    .imagenNos{
        width: 50%;  
     }    
}


