
$color-fondo:#664E88;
$color-footer-bg:#2D4059;
$color-izquierda:#889EAF;
$color-derecha:#506D84;
$estilo-fuente-general:Alice;
$estilo-fuente-titulo:Berkshire Swash;
$color-texto-oscuro:#212121;
$color-borde-boton-hover:#80ED99;
$boton-bg-color:#2D4059;
$sombra:#082032;
$boton-color-borde:#334756;
$color-claro:#EEEEEE;
$color-uno:#FF4C29;
$color-nos1:#FFF7AE;
$color-nos2:#F6D167;
$color-nos3:#F07B3F;

